body{
		background: url(background.jpg);
		background-size: cover;
		color: black;
		font-family: Arial, Verdana, sans-serif;}
		
.box {
border : 1px solid #666666;
background-color:grey;
padding-left: 20px;
margin-left: 20px;
width:90%;
height:10%;
bottom: 10px;
position: center;}

.box1 {
border : 1px solid #666666;
background-color:grey;
padding-left: 20px;
margin-left: 20px;
width:40%;
height:20%;
bottom: 10px;
position: center;}


		